version: "3.9"

services:
    mysql:
        image: mysql:8.0
        container_name: mysql_container
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MYSQL_DATABASE: ConnectFlow_db
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:latest
        container_name: phpmyadmin_container
        restart: always
        environment:
            PMA_HOST: mysql
        ports:
            - "8080:80"
        depends_on:
            - mysql

volumes:
    mysql_data: